html, body, #root, .App, .builder, .song-list {
    height:100%;
}

h3, h4 {
    display:block;
    margin:0;
    width:100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.builder {
    display:flex;
}

.song-list {
    display:flex;
    flex-direction: column;
    max-width:20%;
}

.setlist {
    margin-left:20em;
}

.song {
    display: flex;
    gap: 1em;
    height: 20%;
    width: 80%;
    margin-bottom: 1em;
}
.song-info { 
    width:100%;
}

.song img {
    object-fit:cover;
}